HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### custom ###
/out/
/build/
/api/out
/api/build
/api/target
/client/out
/client/build
/client/target
/server/out
/server/build
/server/target
/buildSrc/out
/buildSrc/build
/buildSrc/target
pg-drop-all.sql
pg-create-all.sql
